

<div id="index-top" >

	<div class="left">
		<div class="box-title" ><div>[latest-translations]</div></div>
	</div>
	<div class="right">
		<div class="box-title" ><div>[your-latest-requests]</div></div>
	</div>
		

</div>

<div id="index-bottom">
	<div class="box-title" ><div>[latest-news]</div></div>
	<div id="news-rows" >
			[news-content]
				<div class="news-item" >
					<div class="news-title" >[news-title]</div>
					<div class="news-content" >[news-content]</div>
					<div class="news-under" >
						<div class="left">[read-more]</div>
						<div class="right">[comments-number] [comments]</div>
					</div>
				</div>
			[/news-content]
	</div>

</div>
