<div id="intro" >
	<h1>[submit-title]</h1>
	<p>[submit-intro]</p>
</div>
<div class="box dropzone" >
	<div class="box-title" ><div>[submit-step-1]</div></div>
		<p>[submit-step-1-sub]</p>
		<div id="upload-icon" ></div>
		<div id="counter" >
			<span class="number" >0</span>
			<span >[out-of-eight]</span>
		</div>
		<table id="file-queue" >
			<tr class="header" >
				<th class="file-name">[file-name]</th>
				<th class="file-size">[file-size]</th>
				<th class="file-type">[file-type]</th>
				<th class="file-state">[file-state]</th>
				<th class="file-delete" ></th>
			</tr>
		</table>
		
		<div id="droptext" >
			<span class="normal" >[drop-files-or]</span>
			<span class="hover" >[release-files]</span>
		</div>

		<input type="button" value="Browse Files" id="fake-browse" />
		<input type="button" value="Start upload" id="process" disabled="disabled" />
		<input name="filesToUpload[]" id="browse-files" type="file" multiple="" />
		
		<div class="progress-bar" id="submit" ><div class="pos" ></div> </div>

	<div class="box-title under" ><div>[submit-step-1]</div></div>
</div>
<!--
<div class="box"  id="step2" >
	<div class="box-title" ><div>[submit-step-2]</div></div>
	
</div>
<div class="content" >
		<p>[submit-step-1-sub]</p>
		<fieldset >
			<legend>[translation-type]</legend>
			<input type="radio" name="type" value="1" id="plain" />		<label for="plain">[plain-text]</label>
			<input type="radio" name="type" value="2" id="dataset" />	<label for="dataset">[dataset]</label>
		</fieldset>
		<input type="button" value="[continue]" id="continue" /> 
	</div>
<div class="box" id="step3" >
	<div class="box-title" ><div>[submit-step-3]</div></div>
	<div class="content" >
		<p>[submit-step-3-sub]</p>
	</div>
</div>	<div class="box" id="step4" >
	<div class="box-title" ><div>[submit-step-4]</div></div>
	<div class="content" >
		<p>[submit-step-4-sub]</p>
	</div>
</div>
-->